<h3><%= @iterable.name %></h3>

<div class="well">
<% for post in @posts %>
	<ul>
		<% for action in post.actions.all %>
			<li><%= action.action %>
				<%= link_to "show", post_path(post) %>
				<%= link_to "x", action_path(:action_id => action.id), :method => "delete" %>
			</li>
		<% end %>
	</ul>
<% end %>
</div>

<%= link_to "Add New User", new_iterable_iterablesuser_path(@iterable) %>

<% for user in @users %>
	<p><%= user.email %>
	<% if current_user.id != user.id %>	
		<span><%= link_to "x", iterablesuser_path(:user_deleted => user.id), :method => "delete" %></span>
	<% end %>
	</p>
<% end %>

<%= link_to "New Entry", new_iterable_post_path(@iterable) %> 

<% for post in @posts %>
<div class="post">
	<div class="timestamp span1">
		<h5><%= post.created_at.strftime("%l:%m%p")%></h5>
	</div>
	<div class="content span5">
		<p>
		   <%= post.post %> 
		</p>
		<p>
			<%= link_to "action!", new_post_action_path(post), :class => "action-link" %> |
			<%= link_to "delete", post_path(:post_id => post.id), :method => :delete, :class => "delete-button" %>
		</p>
	</div>
</div>
<% end %> 