<%= @iterable.name %>

<% for post in @posts %>
	<ul>
		<% for action in post.actions.all %>
			<li><%= action.action %>
				<%= link_to "show", post_path(post) %>
				<%= link_to "x", action_path(:action_id => action.id), :method => "delete" %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Add New User", new_iterable_iterablesuser_path(@iterable) %>

<% for user in @users %>
	<p><%= user.email %>
	<% if current_user.id != user.id %>	
		<span><%= link_to "x", iterablesuser_path(:user_deleted => user.id), :method => "delete" %></span>
	<% end %>
	</p>
<% end %>

<%= link_to "New Entry", new_iterable_post_path(@iterable) %> 

<% for post in @posts %>
	<p><%= post.post %>
	   <%= link_to "x", post_path(:post_id => post.id), :method => :delete %>
	   <%= link_to "Add Comments", new_post_comment_path(post) %>
	   <%= link_to "ACTION", new_post_action_path(post) %> 
	</p>
		
	<% if post.comments.all %>
		<ul>
			<% for comment in post.comments.all %>
				<li><%=comment.comment%><%= link_to "x", comment_path(:comment_id => comment.id), :method => "delete" %></li>
			<% end %>
		</ul>
	<% end %>
<% end %> 