<!DOCTYPE html>
<html>
<head>
  <title>Iter8</title>
  <%= stylesheet_link_tag    "application", "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css", :media => "all" %>
  <%= javascript_include_tag "application", "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="span8 offset2">
    <%= link_to "Iter8", root_path, :class => "brand" %>
    <ul class="nav pull-right">
    <% if current_user %>
      <li><%= link_to "Account", edit_user_registration_path %></li>
	    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
	    <li><%= link_to "Register", new_user_registration_path %></li>
    <% end %>
    </ul>
  </div>
  </div>
</div>

<div class="span6 offset3">
	<%= yield %>
</div>

</body>
</html>
